{#
/**
 * @file
 * The views infinite scroll pager template.
 */
#}

{% if items.next %}
<ul{{ attributes }}>
  <li class="pager__item">   
    <a class="button btn border-btn border-yellow-btn" href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next">{{ options.button_text | t }}</a>
  </li>
</ul>
{% endif %}
