{#
/**
 * @file community_post.html.twig
 * Default theme implementation to present Community post data.
 *
 * This template is used when viewing Community post pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_community_post()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('community_post') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
