{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% set item_images = [] %}

{% for key, row in rows %}
	{% set item_image   = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_slider_images }}'] | striptags | trim  %}
	{% set item_images = item_images | merge([item_image]) %}        
{% endfor %}
<section class="floating-elmts">
    <ul>
    {% if item_images[0] %}
        <li><img src="{{ item_images[0] }}" alt=""></li>
    {% endif %}
    {% if item_images[1] %}
        <li><img src="{{ item_images[1] }}" alt=""></li>
    {% endif %}
    {% if item_images[2] %}
        <li><img src="{{ item_images[2] }}" alt=""></li>
    {% endif %}
    </ul>
</section>