{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% for row in rows %}

{% set parallax_image = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_parallax_wrapper_bottom }}'] |striptags|trim|split(',') %}
     {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_listing_details }}'] }} 
{% if parallax_image[0] is not empty %}
<div class="parallax-wrapper bottom-wrapper">
    <div class="parallax-shapes-bottom-right" data-scroll-speed="3"><img src="{{ parallax_image[0] }}" alt="parallax-wrapper bottom-wrapper"></div>
</div>
{% endif %}
{% endfor %}